# --- Dependencias ---
node_modules
dist
build

# --- Logs ---
*.log

# --- Archivos de Entorno ---
# Bloqueo general
.env
.env.*

# EXCEPCIÓN CRÍTICA: Permite que Vite lea la IP 172.50.1.68 durante el build
!.env.production

# --- Otros ---
.vscode
.idea
.DS_Store