# --- Estructura de Proyecto y Dependencias ---
**/node_modules/
**/dist/
**/build/
/generated/prisma

# --- Archivos de Entorno (Variables Sensibles) ---
# Bloquea cualquier archivo .env en cualquier nivel de carpeta
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
**/.env.*.local

# --- Persistencia de Datos (Docker) ---
**/postgres-data/
**/postgres-data-prod/

# --- Logs y Reportes ---
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- Sistema Operativo y Temporales ---
.DS_Store
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# --- Pruebas (Tests) ---
/coverage
/.nyc_output

# --- IDEs y Editores ---
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode (Mantiene configuraciones compartidas, ignora el resto)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json